@import 'colors'; // Import du fichier de couleurs
@import 'bases'; // Import des modifications de bases (body, ..)

%sharedFlex {
    display: flex;
}

%sharedAbsol {
    position: absolute;
}

%sharedWeight {
    font-weight: 400;
}

%sharedTextC {
    text-align: center;
}

%sharedColor {
    color: $textColor;
}

/* Ensemble de la carte */
.card {
    position: relative;
    width: 400px;
    height: 500px;
    margin: 5% auto;
    overflow: hidden;
    box-shadow: 0vw 0.2vh 0.5vw -0.2vh rgba(0, 0, 0, 0.493);
    transition: .6s;

    &__date{ /* Date en haut à droite */
        @extend %sharedAbsol;
        @extend %sharedTextC;
        background: $colorOne;
        color: $colorThree;
        right: 4%;
        top: 3%;
        width: 3em;
        height: 3em;
        padding: 0.3vw;
        word-wrap: break-word;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 50%;
        transition: .4s ease-in;

        &:hover  {
        transform: scale(1.3);
        }
    }

    &__description { /* Description en bas */
        @extend %sharedAbsol;
        @extend %sharedFlex;
        bottom: 0;
        height: 15vh;
        background: $colorThree;
        flex-direction: column;
        align-content: flex-end;
        padding: 1vh 1.3vw;
        padding-bottom: 5vh;
        text-align: justify;
        transition: .4s cubic-bezier(.22,.61,.36,1);

        &::before {
            @extend %sharedAbsol;
            font-weight: 500;
            content: 'Photo';
            top: -3vh;
            left: 0vw;
            background: $colorOne;
            padding: 0.3vw 2vh;
            font-size: 1.2rem;
            color: $colorThree;
        }
    }

    &__text {
        line-height: 1.5em;
        p, h2 {
            @extend %sharedWeight;
        }

        h1 {
            font-weight: 600;
        }

        p {
            @extend %sharedColor;
            padding-top: 1.5vh;
            transition: opacity .3s cubic-bezier(.22,.61,.36,1);
            opacity: 0;
        }
    }

    &__infos {
        background: #fff;
        @extend %sharedColor;
        position: absolute;
        bottom: 0;
        left: 1.4vw;
        width: inherit;
        font-size: 0.9em;
        font-weight: 500;
        ul {
            @extend %sharedFlex;
            margin: 2vh 0;
            padding: 0;

            li {
                list-style: none;
                padding-right: 2vw;
                color: rgb(165, 165, 165);
             }
        }
    }

    &__bg {
        background: no-repeat url(/assets/img/ryu.jpg);
        background-size: 650px;
        background-position: bottom left 45%;
        width: 400px;
        height: 500px;
        transition: .6s cubic-bezier(.22,.61,.36,1);
    }

    &:hover {
        box-shadow: 0vw 0.2vh 0.4vw 0.7vh rgba(0, 0, 0, 0.315);
    }

    &:hover &__bg{
        transform: scale(1.2);
        opacity: 0.6;
    }

    &:hover &__description {
        height: 30vh;
    }

    &:hover &__text p {
         opacity: 1;
    }
}